@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*{
	font-family: 'Proxima Nova', sans-serif;                                   
	padding: 0;
	margin: 0;
	font-weight: 400;
	color: #374957;
	scroll-behavior: smooth;
}

.bold-3 {
	font-weight: 300;
	line-height: 29px;
}

body{
	background-color: white;
}

.big{
}

nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: #0B2239;
}

.bot{
	position: fixed; bottom: 0;
	right: 0; left: 0;
	background-color: #0066CC;
}

.bot p{
	color: white;
}

nav p{
	font-size: 14px;
	transition: all .5s linear;
	cursor: pointer;
	color: #ffffffb0;
	font-weight: 600;
}

nav p:hover{
	color: #a6a6a6;
}

.title{
	font-size: 25px;
	font-weight: 700;
	color: white;
}


.bold-5{
	font-weight: 500;
}

.collapse{
	font-weight: 500;
	font-size: 13px;
}


.hr{
	margin-top: 30px;
	margin-bottom: 10px;
	height: 2px;
	background-color: #dddddd;
	visibility: hidden;
}

.head2{
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 37px;
	font-weight: 700 !important;
}

.head4{
	font-size: 25px;
	margin-bottom: 16px;
	line-height: 37px;
	font-weight: 700;
	padding-bottom: 4px;
}

.head5{
	font-size: 23px;
	margin-bottom: 16px;
	line-height: 37px;
	padding-bottom: 4px;
	font-weight: 600 !important;
}

.args{
	font-size: 20px;
	letter-spacing: 2px;
}

.tb{
	border: 1px solid #CFD9E0;
	padding-left: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.tb:hover{
	border-color: #91A8B8;
}

.tb *{
	font-weight: 400;
}

.tb p{
	line-height: 25px;
}


.docs .txt{
	font-size: 16px;
	line-height: 24px;
}

.link *, .link{
	color: #1273EB;
	cursor: default;
}

.link:hover{
	text-decoration: underline;
}

.tag{
	font-size: 20;
	visibility: hidden;
	transition: all 2s linear;
	margin-left: -20px;
}

.big{
	font-weight: 900;
}

.head2:hover .tag, .head2:focus .tag{
	visibility: visible;
}


.n:hover{
	background-color: #ffffff90;
	text-decoration: underline;
}

.sidebar{
	background-color: #EFF3F6;
}

.sidebar *{
	font-size: 14px;
	cursor: default;
}


.n{
	padding-top: 7px;
	padding-bottom: 7px;
	transition: all .3s linear;
}

.args{
	font-style: normal;
	color: #856e3d;
	font-family: 'Fira Mono', monospace;
	font-size: 15px;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.code, .code2{
	padding: 12px;
	white-space: pre;
	overflow-x: scroll;
	font-family: 'Fira Mono', monospace;
	font-weight: 500;
	background-color: #EFF3F6;
	border-radius: 7px;
	font-size: 13px;
	font-weight: 400 !important;
	line-height: 22px;
	color: #00000080;
}

.code *, .code2 *{
	font-size: 13px;
	font-weight: 400 !important;
	font-family: 'Fira Mono', monospace;
}



.d-t img{
	width: 40%;
}

.d-t p{
	text-align: center;
}

.ti{
	font-weight: bold;
}

.dw p{
	background-color: #2CAE52;
	color: white;
	width: max-content;
}

.get{
	background-color: #2CAE52;
	transition: all .1s linear;
	color: white;
}

.get *{
	color: white !important;
}

.get:hover{
	opacity: 90%;
}

.dw p *{
	color: white;
}

.bn{
	border-radius: 5px;
}

.bn:nth-child(even){
	background-color: #343535;
}

.bn2{
	border: 1px solid #CFD9E0;
	background-color: #2CAE52;
}

.bn2{
	color: white;
}

.more{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 70px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #1273EB;
	background-color: #1273EB;
	width: 47px;
	height: 47px;
	border-radius: 5px;
}



